<button data-trigger-more-content>More content</button>
<h2><%= t('page.news.title') %></h2>


<script id="artilces-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="grid-25">
      <a href="articles/{{id}}">
        <div class='card'>
          <article class="short-new">
            <div class="img-wrapper">
              <img src="{{photo_url}}" class="img-article">
            </div>

            <div class="mini-news">
              <div class="author">
                <span><img src="{{author_picture}}" class="user-logo"></span>
                <span>por: {{author_name}} - {{city}}</span>
              </div>

              <h4>{{title}}</h4>
            </div>

          </article>
        </div>
      </a>
    </div>
  {{/each}}
</script>


