<script id="artilces-template" type="text/x-handlebars-templat">
  {{#each articles}}
    <div class="grid-25">
      <a href="{{link}}">
        <article class="short-new">
          <div class="img-wrapper">
            {{#if picture_url}}
              <img src="picture_url" class="img-article">
            {{/if}}
          </div>

          <div class="mini-news">
            <div class="author">
              <span><img src="{{user_image}}" class="user-logo"></span>
              <span>por: {{user_name}}</span>
            </div>

            <h4>{{title}}</h4>
          </div>

        </article>
      </a>
    </div>
  {{/each}}
</script>
