<script id="events-template" type="text/x-handlebars-template">
  <div data-contentLoader-container>
    <h2><%= t('page.events.title') %><span data-title></span></h2>
    {{#if this}}
      {{#each this}}
        <a class='grid-50' href="events/{{id}}">
          <article class="card">
            <img src="{{photo_url}}" class="img-article">

            <div class="mini-news">
              <div class="author">
                <img src="{{author_picture}}" class="user-logo">
                por: {{author_name}} - {{city}} - {{prettifyDate date}}
              </div>

              <h4>{{title}}</h4>
            </div>

          </article>
        </a>
      {{/each}}
    {{else}}
      <%= t('page.no_content') %>
    {{/if}}
  </div>
</script>
