<script id="events-template" type="text/x-handlebars-template">
  <div data-contentLoader-container>
    <h2><%= t('page.events.title') %><span data-title></span></h2>
    {{#if this}}
      {{#each this}}
        <div class="grid-25">
          <a href="events/{{id}}">
            <div class='card'>
              <article class="short-new">
                <div class="img-wrapper">
                  <img src="{{photo_url}}" class="img-article">
                </div>

                <div class="mini-news">
                  <div class="author">
                    <span><img src="{{author_picture}}" class="user-logo"></span>
                    <span>por: {{author_name}} - {{city}} - {{prettifyDate date}}</span>
                  </div>

                  <h4>{{title}}</h4>
                </div>

              </article>
            </div>
          </a>
        </div>
      {{/each}}
    {{else}}
      <%= t('page.no_content') %>
    {{/if}}
  </div>
</script>