/*
  - Creates the main header

    + main header:
      # wheather
      # Logo
      # User navigation bar

    + sub header:
      # main links

*/
@mixin header-user-block($width) {
  width: $width;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

header {
  // background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
  display: block;
}

.main-header {
  height: 150px;
}

.sub-header {
  display: inline-block;
  width: 100%;
  background-color: #E0E0E0;
  margin: 0;
}

.logo {
  top: 0;
  float: left;
  @include header-user-block(15%);
  .main-logo {
    margin: 0;
    padding: 0;
  }
  .sub-logo {
    padding-top: 0;
    margin: 0;
    position: relative;
    top: -10px;
  }
}
.nav-main {
  width: 70%;
  float: left;
  text-align: center;

  li {
    display: inline-block;
  }

  a{
    padding: 15px 20px;
    &:hover{
      background-color: #FFF;
    }
  }
}
.nav-user {
  @include header-user-block(15%);
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0px 10px;
      position: relative;

      img {
        vertical-align: middle;
      }
    }
    li:hover{
      .drop-down {
        display: inline;
      }
    }
  }
}

.drop-down {
  position:absolute;
  display: none;
  left: -90px;
  z-index: 1000;

  li {
    clear: both;
    background: #353535;
    float: none;
    text-align: center;
    margin-bottom: 1px;
    &:hover {
      background: #555;
    }
    a {
      display: block;
      width: 150px;
      color: #E0E0E0;
    }
  }
}
