/*
	- Creates the main header

		+ main header:
			# wheather
			# Logo
			# User navigation bar

		+ sub header:
			# main links

*/

header {
	display: block;
	height: auto;
	.main-header {
		.weather {
			width: 19%;
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			text-align: center;
		}
		.logo {
			width: 60%;
			margin: 0;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			.main-logo {
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.sub-logo {
				padding-top: 0;
				margin: 0;
				position: relative;
				top: -10px;
			}
		}
		.nav-user {
			width: 20%;
			display: inline-block;
			vertical-align: middle;

			ul {
				li {
					display: inline-block;
					padding: 10px;
					position: relative;

					img {
						vertical-align: middle;
					}
				}
				li:hover{
					.drop-down {
						display: inline;
					}
				}
			}



		}
	}
	.sub-header {
		display: inline-block;
		width: 100%;
		background-color: #E0E0E0;
		margin: 0;
		nav {
			text-align: center;

			li {
				display: inline-block;

				a{
					padding: 15px 20px;
				}
				a:hover{
					background-color: #FFF;
				}
			}
		}
	}
	.drop-down {
    position:absolute;
    display: none;
    left: -90px;

		li {
			clear: both;
	    background: #353535;
			float:none;
			text-align: center;
			margin-bottom: 1px;
			a {
				display: block;
				width: 150px;
				color: #E0E0E0;
			}
		}
		li:hover {
			background: #555;
		}
	}
}