@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700);

.main-logo a{
	font-family: 'Playfair Display SC', serif;
	font-size: 1.8em;
	color: #353535;
}

.sub-logo {
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 1.2em;
	color: #DC3522;
}