<article class="headline">
	<%= image_tag("capitolio.png") %>
	<h2>Um novo jornal está no ar</h2>
</article>


<article class="main-news">
	<div class="last-news">

	</div>

	<div class="events">

	</div>

	<div class="jobs">

	</div>
</article>
