<header>
  <div class="main-header">
    <div id="map"></div>

    <div class="logo">
      <h1 class="main-logo"><%= link_to t('header.title'), root_path %></h1>
      <h4 class="sub-logo"><%= t('header.subtitle') %></h4>
    </div>

    <%= render 'layouts/nav_user' %>
  </div>

  <div class="sub-header">
    <%= render 'layouts/nav_main' %>
  </div>
</header>