<nav class='nav-main' data-main-menu>
  <ul>
    <li><a href='#' data-menu-route='/'><%= t('header.home') %></a></li>
    <li><a href='#' data-menu-route='/articles'><%= t('header.news') %></a></li>
    <li><a href='#' data-menu-route='/events'><%= t('header.events') %></a></li>
  </ul>
</nav>
